    <!-- Intro Header -->
    <header class="intro">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">

                        <h1 class="brand-heading">
                            <span class="darkblue">No one should</span><br>
                            <span class="liteblue">be left without</span><br>
                            <span class="red"> health care.</span>
                        </h1>

                        <h2 class="light darkblue brand-smalltext">Republicans have a plan to repeal and replace the ACA. It's a really bad plan.</h2>

                        <a href="#action" class="btn call-to-action page-scroll liteblue">
                            Join the Fight
                        </a>

                        <div>
                        <a class="gray page-scroll" href="#about">Or, learn how we help you fight.<br/>
                            <i style="font-size:24px;font-weight:100px;" class="fa fa-angle-double-down animated"></i>
                        </a>
                        
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

