<!-- jQuery Version 1.11.0 -->
<script src="{{ "/js/jquery.js" | prepend: site.baseurl }}"></script>

<!-- Bootstrap Core JavaScript -->
<script src="{{ "/js/bootstrap.min.js" | prepend: site.baseurl }}"></script>

<!-- Plugin JavaScript -->
<script src="{{ "/js/jquery.easing.min.js" | prepend: site.baseurl }}"></script>

<!-- Google Maps API Key - Use your own API key to enable the map feature. More information on the Google Maps API can be found at https://developers.google.com/maps/ -->
<script src="https://apis.google.com/js/client.js?onload=load"></script>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAY6i_IaQ8wW-g1Vi96IDqMuEUkv_sCPg8&libraries=places"></script>
<script src="/js/jquery.geocomplete.min.js"></script>


<!-- Custom Theme JavaScript -->
<script src="{{ "/js/grayscale.js" | prepend: site.baseurl }}"></script>

<!-- Mail chimp pop up -->
<script type="text/javascript" src="//s3.amazonaws.com/downloads.mailchimp.com/js/signup-forms/popup/embed.js" data-dojo-config="usePlainJson: true, isDebug: false"></script>

<!-- My own Javascript -->
<script type="text/javascript" src="/js/custom.js"></script>
<script type="text/javascript" src="/js/ides-trump.js"></script>