 <!-- Navigation -->
    <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                    <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll hidden-xs nav-link" href="/">
                    <span class="darkblue">Fight</span>
                    <span class="liteblue">for</span>
                    <span class="red">Healthcare</span>
                </a>
                <a class="navbar-brand page-scroll visible-xs-inline  nav-link" href="/">
                    <span class="darkblue">F</span><span class="liteblue">4</span><span class="red">H</span>
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
                <ul class="nav navbar-nav">
                    <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll nav-link" href="/#action">Take Action</a>
                    </li>
                    <li>
                        <a class="page-scroll nav-link" href="/obamacare-vs-aca">Facts</a>
                    </li>
                    <li>
                        <a class="nav-link" href="/benefits-of-obamacare">why we fight</a>
                    </li>
                    <li>
                        <a class="subscribe red nav-link" href="/#subscribe">Subscribe</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
