<section id="thankyou" class="container content-section text-center">
    <div class="row">
        <div class="col-lg-10 col-lg-offset-1">
            <h1>Thank you for supporting the fight for healthcare</h1>
            <p>Hey you,</p>
            <p>In a nation with reliable access to healthcare, we see longer lifespans, lower rates of mother and infant mortality,
                better vaccine coverage for fewer infectious disease outbreaks. A nation where a trip to the hospital room
                doesn't lead to a life ending in bankruptcy. That's why we're working hard over here to make sure that we
                can recommend the utmost important action plans for people to take.</p>
            <p>However, Fight for Heathcare would be nothing without you, who give your time and money to one of the greatest
                struggles of our generation. We take your contribution seriously, and appreciate it.</p>

            <p>Best,<br> Linda &amp; Mariah</p>
        </div>
    </div>
</section>
